{# Merge Options Tab Content #}
<sw-card
    :title="$tc('artissTools.propertyProcessing.mergeOptions.selectGroup')"
    :isLoading="isLoading"
>
    <sw-single-select
        v-model:value="selectedGroupId"
        :options="propertyGroups"
        :label="$tc('artissTools.propertyProcessing.mergeOptions.propertyGroup')"
        :placeholder="$tc('artissTools.propertyProcessing.mergeOptions.placeholders.selectGroup')"
        valueProperty="id"
        labelProperty="name"
    />
</sw-card>

{# Options Selection #}
<template v-if="selectedGroupId && groupOptions.length > 0">
    <sw-card
        :title="$tc('artissTools.propertyProcessing.mergeOptions.selectOptions')"
        :isLoading="isLoading"
    >
        <sw-single-select
            v-model:value="targetOptionId"
            :options="groupOptions"
            :label="$tc('artissTools.propertyProcessing.mergeOptions.targetOption')"
            :placeholder="$tc('artissTools.propertyProcessing.mergeOptions.placeholders.selectTarget')"
            valueProperty="id"
            labelProperty="name"
        />

        <sw-multi-select
            v-model:value="sourceOptionIds"
            :options="availableSourceOptions"
            :label="$tc('artissTools.propertyProcessing.mergeOptions.sourceOptions')"
            :placeholder="$tc('artissTools.propertyProcessing.mergeOptions.placeholders.selectSources')"
            valueProperty="id"
            labelProperty="name"
            class="sw-field--last"
        />
    </sw-card>

    {# Options Info #}
    <sw-card
        v-if="targetOptionId || sourceOptionIds.length > 0"
        :title="$tc('artissTools.propertyProcessing.mergeOptions.optionsInfo')"
    >
        <table class="artiss-options-info-table">
            <thead>
                <tr>
                    <th>{{ $tc('artissTools.propertyProcessing.mergeOptions.table.type') }}</th>
                    <th>{{ $tc('artissTools.propertyProcessing.mergeOptions.table.name') }}</th>
                    <th>{{ $tc('artissTools.propertyProcessing.mergeOptions.table.productCount') }}</th>
                    <th>{{ $tc('artissTools.propertyProcessing.mergeOptions.table.variantCount') }}</th>
                </tr>
            </thead>
            <tbody>
                <template v-if="targetOptionInfo">
                    <tr class="artiss-options-info-table__target-row">
                        <td>
                            <strong>{{ $tc('artissTools.propertyProcessing.mergeOptions.targetOption') }}</strong>
                        </td>
                        <td>
                            <strong>{{ targetOptionInfo.name }}</strong>
                        </td>
                        <td>{{ targetOptionInfo.productCount || 0 }}</td>
                        <td>{{ targetOptionInfo.variantCount || 0 }}</td>
                    </tr>
                </template>
                <template v-for="optionId in sourceOptionIds" :key="optionId">
                    <template v-if="optionsInfo[optionId]">
                        <tr class="artiss-options-info-table__source-row">
                            <td>{{ $tc('artissTools.propertyProcessing.mergeOptions.sourceOptions') }}</td>
                            <td>{{ optionsInfo[optionId].name }}</td>
                            <td>{{ optionsInfo[optionId].productCount || 0 }}</td>
                            <td>{{ optionsInfo[optionId].variantCount || 0 }}</td>
                        </tr>
                    </template>
                </template>
            </tbody>
        </table>
    </sw-card>
</template>

{# Actions #}
<sw-card
    v-if="canExecute"
    :title="$tc('artissTools.propertyProcessing.sections.actions')"
    :isLoading="isLoading"
>
    <sw-button
        variant="primary"
        :disabled="isLoading"
        @click="executeDryRun"
    >
        {{ $tc('artissTools.propertyProcessing.buttons.preview') }}
    </sw-button>

    <sw-button
        variant="danger"
        :disabled="isLoading"
        @click="executeMerge"
    >
        {{ $tc('artissTools.propertyProcessing.mergeOptions.buttons.merge') }}
    </sw-button>
</sw-card>

{# Result #}
<sw-card
    v-if="mergeResult"
    :title="$tc('artissTools.propertyProcessing.sections.result')"
>
    <div v-if="dryRunMode" class="artiss-property-processing-index__dry-run-notice">
        <sw-alert variant="info">
            {{ $tc('artissTools.propertyProcessing.messages.dryRunMode') }}
        </sw-alert>
    </div>

    <table class="sw-data-grid__table sw-table artiss-result-table">
        <tbody>
            <template v-if="mergeResult.target">
                <tr class="sw-data-grid__row sw-table__row">
                    <td class="sw-data-grid__cell sw-table__cell artiss-result-table__label">
                        {{ $tc('artissTools.propertyProcessing.mergeOptions.result.target') }}
                    </td>
                    <td class="sw-data-grid__cell sw-table__cell">
                        <strong>{{ mergeResult.target.name }}</strong>
                    </td>
                </tr>
            </template>

            <template v-if="mergeResult.sources && mergeResult.sources.length > 0">
                <tr class="sw-data-grid__row sw-table__row">
                    <td class="sw-data-grid__cell sw-table__cell artiss-result-table__label">
                        {{ $tc('artissTools.propertyProcessing.mergeOptions.result.sources') }}
                    </td>
                    <td class="sw-data-grid__cell sw-table__cell">
                        <span v-for="(source, index) in mergeResult.sources" :key="source.id">
                            {{ source.name }}<span v-if="index < mergeResult.sources.length - 1">, </span>
                        </span>
                    </td>
                </tr>
            </template>

            <template v-if="mergeResult.stats">
                <tr class="sw-data-grid__row sw-table__row">
                    <td class="sw-data-grid__cell sw-table__cell artiss-result-table__label">
                        {{ $tc('artissTools.propertyProcessing.productsModal.totalProducts') }}
                    </td>
                    <td class="sw-data-grid__cell sw-table__cell">
                        <a
                            v-if="mergeResult.stats.affectedProductIds && mergeResult.stats.affectedProductIds.length > 0"
                            href="#"
                            @click.prevent="showProductsModal = true"
                            class="artiss-products-link"
                        >
                            {{ mergeResult.stats.affectedProductIds.length }}
                        </a>
                        <span v-else>0</span>
                    </td>
                </tr>

                <tr class="sw-data-grid__row sw-table__row">
                    <td class="sw-data-grid__cell sw-table__cell artiss-result-table__label">
                        {{ $tc('artissTools.propertyProcessing.mergeOptions.result.productPropertyUpdates') }}
                    </td>
                    <td class="sw-data-grid__cell sw-table__cell">
                        {{ mergeResult.stats.productPropertyCount || 0 }}
                    </td>
                </tr>

                <template v-if="mergeResult.stats.configuratorSettingCount !== undefined && mergeResult.stats.configuratorSettingCount > 0">
                    <tr class="sw-data-grid__row sw-table__row">
                        <td class="sw-data-grid__cell sw-table__cell artiss-result-table__label">
                            {{ $tc('artissTools.propertyProcessing.mergeOptions.result.configuratorSettingUpdates') }}
                        </td>
                        <td class="sw-data-grid__cell sw-table__cell">
                            {{ mergeResult.stats.configuratorSettingCount }}
                        </td>
                    </tr>
                </template>

                <template v-if="mergeResult.stats.deletedOptionIds && mergeResult.stats.deletedOptionIds.length > 0">
                    <tr class="sw-data-grid__row sw-table__row">
                        <td class="sw-data-grid__cell sw-table__cell artiss-result-table__label">
                            {{ $tc('artissTools.propertyProcessing.mergeOptions.result.deletedOptions') }}
                        </td>
                        <td class="sw-data-grid__cell sw-table__cell">
                            {{ mergeResult.stats.deletedOptionIds.length }}
                        </td>
                    </tr>
                </template>
            </template>
        </tbody>
    </table>
</sw-card>

{# Products Preview Modal #}
<artiss-products-preview-modal
    v-if="showProductsModal && mergeResult && mergeResult.stats && mergeResult.stats.affectedProductIds"
    :productIds="mergeResult.stats.affectedProductIds"
    :httpClient="httpClient"
    :getAuthHeaders="getAuthHeaders"
    @close="showProductsModal = false"
/>

{# Confirmation Modal #}
<sw-modal
    v-if="showConfirmModal"
    :title="$tc('artissTools.propertyProcessing.mergeOptions.confirm.title')"
    variant="small"
    @modal-close="showConfirmModal = false"
>
    <p>{{ $tc('artissTools.propertyProcessing.mergeOptions.confirm.message') }}</p>

    <template v-if="targetOptionInfo">
        <p>
            <strong>{{ $tc('artissTools.propertyProcessing.mergeOptions.confirm.target') }}:</strong> {{ targetOptionInfo.name }}
        </p>
    </template>

    <template v-if="sourceOptionIds.length > 0">
        <p>
            <strong>{{ $tc('artissTools.propertyProcessing.mergeOptions.confirm.sources') }}:</strong>
        </p>
        <ul>
            <li v-for="optionId in sourceOptionIds" :key="optionId">
                <template v-if="optionsInfo[optionId]">
                    {{ optionsInfo[optionId].name }}
                </template>
            </li>
        </ul>
    </template>

    <template v-if="mergeResult && mergeResult.stats">
        <p>
            <strong>{{ $tc('artissTools.propertyProcessing.mergeOptions.confirm.affectedProducts') }}:</strong> 
            {{ mergeResult.stats.productPropertyCount || 0 }}
        </p>
        <template v-if="mergeResult.stats.configuratorSettingCount !== undefined && mergeResult.stats.configuratorSettingCount > 0">
            <p>
                <strong>{{ $tc('artissTools.propertyProcessing.mergeOptions.confirm.affectedVariants') }}:</strong> 
                {{ mergeResult.stats.configuratorSettingCount }}
            </p>
        </template>
    </template>

    <template #modal-footer>
        <sw-button
            variant="secondary"
            @click="showConfirmModal = false"
        >
            {{ $tc('artissTools.propertyProcessing.buttons.cancel') }}
        </sw-button>

        <sw-button
            variant="primary"
            @click="confirmExecute"
        >
            {{ $tc('artissTools.propertyProcessing.mergeOptions.buttons.confirmMerge') }}
        </sw-button>
    </template>
</sw-modal>


