{# Merge Options Tab Content #}
<sw-card
    :title="$tc('artissTools.propertyProcessing.mergeOptions.selectGroup')"
    :isLoading="isLoading"
>
    <sw-single-select
        v-model:value="selectedGroupId"
        :options="propertyGroups"
        :label="$tc('artissTools.propertyProcessing.mergeOptions.propertyGroup')"
        :placeholder="$tc('artissTools.propertyProcessing.mergeOptions.placeholders.selectGroup')"
        valueProperty="id"
        labelProperty="name"
    />
</sw-card>

{# Options Selection #}
<template v-if="selectedGroupId && groupOptions.length > 0">
    <sw-card
        :title="$tc('artissTools.propertyProcessing.mergeOptions.selectOptions')"
        :isLoading="isLoading"
    >
        <sw-single-select
            v-model:value="targetOptionId"
            :options="groupOptions"
            :label="$tc('artissTools.propertyProcessing.mergeOptions.targetOption')"
            :placeholder="$tc('artissTools.propertyProcessing.mergeOptions.placeholders.selectTarget')"
            valueProperty="id"
            labelProperty="name"
        />

        <sw-multi-select
            v-model:value="sourceOptionIds"
            :options="availableSourceOptions"
            :label="$tc('artissTools.propertyProcessing.mergeOptions.sourceOptions')"
            :placeholder="$tc('artissTools.propertyProcessing.mergeOptions.placeholders.selectSources')"
            valueProperty="id"
            labelProperty="name"
            class="sw-field--last"
        />
    </sw-card>

    {# Options Info #}
    <sw-card
        v-if="targetOptionId || sourceOptionIds.length > 0"
        :title="$tc('artissTools.propertyProcessing.mergeOptions.optionsInfo')"
    >
        <table class="sw-data-grid__table sw-table">
            <thead>
                <tr class="sw-data-grid__row sw-table__row">
                    <th class="sw-data-grid__cell sw-table__cell">{{ $tc('artissTools.propertyProcessing.mergeOptions.table.type') }}</th>
                    <th class="sw-data-grid__cell sw-table__cell">{{ $tc('artissTools.propertyProcessing.mergeOptions.table.name') }}</th>
                    <th class="sw-data-grid__cell sw-table__cell">{{ $tc('artissTools.propertyProcessing.mergeOptions.table.productCount') }}</th>
                    <th class="sw-data-grid__cell sw-table__cell">{{ $tc('artissTools.propertyProcessing.mergeOptions.table.variantCount') }}</th>
                </tr>
            </thead>
            <tbody>
                <template v-if="targetOptionInfo">
                    <tr class="sw-data-grid__row sw-table__row">
                        <td class="sw-data-grid__cell sw-table__cell">
                            <strong>{{ $tc('artissTools.propertyProcessing.mergeOptions.targetOption') }}</strong>
                        </td>
                        <td class="sw-data-grid__cell sw-table__cell">
                            <strong>{{ targetOptionInfo.name }}</strong>
                        </td>
                        <td class="sw-data-grid__cell sw-table__cell">{{ targetOptionInfo.productCount || 0 }}</td>
                        <td class="sw-data-grid__cell sw-table__cell">{{ targetOptionInfo.variantCount || 0 }}</td>
                    </tr>
                </template>
                <template v-for="optionId in sourceOptionIds" :key="optionId">
                    <template v-if="optionsInfo[optionId]">
                        <tr class="sw-data-grid__row sw-table__row">
                            <td class="sw-data-grid__cell sw-table__cell">
                                {{ $tc('artissTools.propertyProcessing.mergeOptions.sourceOptions') }}
                            </td>
                            <td class="sw-data-grid__cell sw-table__cell">{{ optionsInfo[optionId].name }}</td>
                            <td class="sw-data-grid__cell sw-table__cell">{{ optionsInfo[optionId].productCount || 0 }}</td>
                            <td class="sw-data-grid__cell sw-table__cell">{{ optionsInfo[optionId].variantCount || 0 }}</td>
                        </tr>
                    </template>
                </template>
            </tbody>
        </table>
    </sw-card>
</template>

{# Actions #}
<sw-card
    v-if="canExecute"
    :title="$tc('artissTools.propertyProcessing.sections.actions')"
    :isLoading="isLoading"
>
    <sw-button
        variant="primary"
        :disabled="isLoading"
        @click="executeDryRun"
    >
        {{ $tc('artissTools.propertyProcessing.mergeOptions.buttons.simulate') }}
    </sw-button>

    <sw-button
        variant="danger"
        :disabled="isLoading"
        @click="executeMerge"
    >
        {{ $tc('artissTools.propertyProcessing.mergeOptions.buttons.merge') }}
    </sw-button>
</sw-card>

{# Result #}
<sw-card
    v-if="mergeResult"
    :title="$tc('artissTools.propertyProcessing.sections.result')"
>
    <div v-if="dryRunMode" class="artiss-property-processing-index__dry-run-notice">
        <sw-alert variant="info">
            {{ $tc('artissTools.propertyProcessing.messages.dryRunMode') }}
        </sw-alert>
    </div>

    <div class="merge-options-result">
        <template v-if="mergeResult.target">
            <h3>{{ $tc('artissTools.propertyProcessing.mergeOptions.result.target') }}</h3>
            <sw-description-list>
                <sw-description-list-term>
                    {{ $tc('artissTools.propertyProcessing.mergeOptions.result.name') }}
                </sw-description-list-term>
                <sw-description-list-description>
                    <strong>{{ mergeResult.target.name }}</strong>
                </sw-description-list-description>
            </sw-description-list>
        </template>

        <template v-if="mergeResult.sources && mergeResult.sources.length > 0">
            <h3>{{ $tc('artissTools.propertyProcessing.mergeOptions.result.sources') }}</h3>
            <ul>
                <li v-for="source in mergeResult.sources" :key="source.id">
                    <strong>{{ source.name }}</strong>
                </li>
            </ul>
        </template>

        <template v-if="mergeResult.stats">
            <h3>{{ $tc('artissTools.propertyProcessing.mergeOptions.result.statistics') }}</h3>
            <sw-description-list>
                <sw-description-list-term>
                    {{ $tc('artissTools.propertyProcessing.mergeOptions.result.productPropertyUpdates') }}
                </sw-description-list-term>
                <sw-description-list-description>
                    {{ mergeResult.stats.productPropertyCount || 0 }}
                </sw-description-list-description>

                <template v-if="mergeResult.stats.configuratorSettingCount !== undefined && mergeResult.stats.configuratorSettingCount > 0">
                    <sw-description-list-term>
                        {{ $tc('artissTools.propertyProcessing.mergeOptions.result.configuratorSettingUpdates') }}
                    </sw-description-list-term>
                    <sw-description-list-description>
                        {{ mergeResult.stats.configuratorSettingCount }}
                    </sw-description-list-description>
                </template>

                <template v-if="mergeResult.stats.deletedOptionIds && mergeResult.stats.deletedOptionIds.length > 0">
                    <sw-description-list-term>
                        {{ $tc('artissTools.propertyProcessing.mergeOptions.result.deletedOptions') }}
                    </sw-description-list-term>
                    <sw-description-list-description>
                        {{ mergeResult.stats.deletedOptionIds.length }}
                    </sw-description-list-description>
                </template>
            </sw-description-list>
        </template>
    </div>
</sw-card>

{# Confirmation Modal #}
<sw-modal
    v-if="showConfirmModal"
    :title="$tc('artissTools.propertyProcessing.mergeOptions.confirm.title')"
    variant="small"
    @modal-close="showConfirmModal = false"
>
    <p>{{ $tc('artissTools.propertyProcessing.mergeOptions.confirm.message') }}</p>

    <template v-if="targetOptionInfo">
        <p>
            <strong>{{ $tc('artissTools.propertyProcessing.mergeOptions.confirm.target') }}:</strong> {{ targetOptionInfo.name }}
        </p>
    </template>

    <template v-if="sourceOptionIds.length > 0">
        <p>
            <strong>{{ $tc('artissTools.propertyProcessing.mergeOptions.confirm.sources') }}:</strong>
        </p>
        <ul>
            <li v-for="optionId in sourceOptionIds" :key="optionId">
                <template v-if="optionsInfo[optionId]">
                    {{ optionsInfo[optionId].name }}
                </template>
            </li>
        </ul>
    </template>

    <template v-if="mergeResult && mergeResult.stats">
        <p>
            <strong>{{ $tc('artissTools.propertyProcessing.mergeOptions.confirm.affectedProducts') }}:</strong> 
            {{ mergeResult.stats.productPropertyCount || 0 }}
        </p>
        <template v-if="mergeResult.stats.configuratorSettingCount !== undefined && mergeResult.stats.configuratorSettingCount > 0">
            <p>
                <strong>{{ $tc('artissTools.propertyProcessing.mergeOptions.confirm.affectedVariants') }}:</strong> 
                {{ mergeResult.stats.configuratorSettingCount }}
            </p>
        </template>
    </template>

    <template #modal-footer>
        <sw-button
            variant="secondary"
            @click="showConfirmModal = false"
        >
            {{ $tc('artissTools.propertyProcessing.buttons.cancel') }}
        </sw-button>

        <sw-button
            variant="primary"
            @click="confirmExecute"
        >
            {{ $tc('artissTools.propertyProcessing.mergeOptions.buttons.confirmMerge') }}
        </sw-button>
    </template>
</sw-modal>


