{% block artiss_property_processing_index %}
    <sw-page class="artiss-property-processing-index">
        {% block artiss_property_processing_index_header %}
            <template #smart-bar-header>
                <h2>
                    <router-link
                        :to="{ name: 'artiss.tools.index' }"
                        class="smart-bar__back-btn"
                    >
                        <sw-icon name="regular-chevron-left" small></sw-icon>
                    </router-link>
                    {{ $tc('artissTools.propertyProcessing.title') }}
                </h2>
            </template>
        {% endblock %}

        {% block artiss_property_processing_index_content %}
            <template #content>
                <sw-tabs class="sw-tabs--small" @new-item-active="onTabChange" default-item="merge">
                    <sw-tabs-item name="merge">
                        {{ $tc('artissTools.propertyProcessing.tabs.merge') }}
                    </sw-tabs-item>
                    <sw-tabs-item name="split">
                        {{ $tc('artissTools.propertyProcessing.tabs.split') }}
                    </sw-tabs-item>
                    <sw-tabs-item name="transfer">
                        {{ $tc('artissTools.propertyProcessing.tabs.transfer') }}
                    </sw-tabs-item>
                    <sw-tabs-item name="cleanup">
                        {{ $tc('artissTools.propertyProcessing.tabs.cleanup') }}
                    </sw-tabs-item>
                </sw-tabs>

                <template v-if="activeTab === 'merge'">
                    <sw-card
                        :title="$tc('artissTools.propertyProcessing.sections.selection')"
                        :isLoading="isLoading"
                    >
                        <sw-single-select
                            v-model:value="targetId"
                            :options="propertyGroups"
                            :label="$tc('artissTools.propertyProcessing.fields.targetGroup')"
                            :placeholder="$tc('artissTools.propertyProcessing.placeholders.selectTarget')"
                            valueProperty="id"
                            labelProperty="name"
                        />

                        <sw-multi-select
                            v-model:value="sourceIds"
                            :options="availableSourceGroups"
                            :label="$tc('artissTools.propertyProcessing.fields.sourceGroups')"
                            :placeholder="$tc('artissTools.propertyProcessing.placeholders.selectSources')"
                            valueProperty="id"
                            labelProperty="name"
                            class="sw-field--last"
                        />
                    </sw-card>

                    <sw-card
                        v-if="canExecute"
                        :title="$tc('artissTools.propertyProcessing.sections.actions')"
                        :isLoading="isLoading"
                    >
                        <sw-button
                            variant="primary"
                            :disabled="isLoading"
                            @click="executeDryRun"
                        >
                            {{ $tc('artissTools.propertyProcessing.buttons.dryRun') }}
                        </sw-button>

                        <sw-button
                            variant="danger"
                            :disabled="isLoading"
                            @click="executeMerge"
                        >
                            {{ $tc('artissTools.propertyProcessing.buttons.execute') }}
                        </sw-button>
                    </sw-card>

                    <sw-card
                        v-if="mergeResult"
                        :title="$tc('artissTools.propertyProcessing.sections.result')"
                    >
                        <div v-if="dryRunMode" class="artiss-property-processing-index__dry-run-notice">
                            <sw-alert variant="info">
                                {{ $tc('artissTools.propertyProcessing.messages.dryRunMode') }}
                            </sw-alert>
                        </div>

                        <div class="artiss-property-processing-index__result">
                            <h3>{{ $tc('artissTools.propertyProcessing.result.target') }}</h3>
                            <p><strong>{{ mergeResult.target.name }}</strong></p>
                            <p>{{ $tc('artissTools.propertyProcessing.result.currentItems') }}: {{ mergeResult.targetOptionsCount }}</p>

                            <h3>{{ $tc('artissTools.propertyProcessing.result.sources') }}</h3>
                            <ul>
                                <li v-for="source in mergeResult.sources" :key="source.id">
                                    <strong>{{ source.name }}</strong>
                                    ({{ $tc('artissTools.propertyProcessing.result.totalItems') }}: {{ source.optionCount }})
                                    <ul>
                                        <li v-if="source.mergeActions.length > 0">
                                            {{ $tc('artissTools.propertyProcessing.result.toMerge') }}: {{ source.mergeActions.length }}
                                        </li>
                                        <li v-if="source.moveActions.length > 0">
                                            {{ $tc('artissTools.propertyProcessing.result.toMove') }}: {{ source.moveActions.length }}
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                            <h3>{{ $tc('artissTools.propertyProcessing.result.statistics') }}</h3>
                            <sw-description-list>
                                <sw-description-list-term>
                                    {{ $tc('artissTools.propertyProcessing.stats.totalSourceItems') }}
                                </sw-description-list-term>
                                <sw-description-list-description>
                                    {{ mergeResult.stats.totalSourceOptions }}
                                </sw-description-list-description>

                                <sw-description-list-term>
                                    {{ $tc('artissTools.propertyProcessing.stats.itemsToMerge') }}
                                </sw-description-list-term>
                                <sw-description-list-description>
                                    {{ mergeResult.stats.optionsToMerge }}
                                </sw-description-list-description>

                                <sw-description-list-term>
                                    {{ $tc('artissTools.propertyProcessing.stats.itemsToMove') }}
                                </sw-description-list-term>
                                <sw-description-list-description>
                                    {{ mergeResult.stats.optionsToMove }}
                                </sw-description-list-description>

                                <sw-description-list-term>
                                    {{ $tc('artissTools.propertyProcessing.stats.itemsToDelete') }}
                                </sw-description-list-term>
                                <sw-description-list-description>
                                    {{ mergeResult.stats.optionsToDelete }}
                                </sw-description-list-description>

                                <sw-description-list-term>
                                    {{ $tc('artissTools.propertyProcessing.stats.productPropertyUpdates') }}
                                </sw-description-list-term>
                                <sw-description-list-description>
                                    {{ mergeResult.stats.productPropertyUpdates }}
                                </sw-description-list-description>

                                <sw-description-list-term>
                                    {{ $tc('artissTools.propertyProcessing.stats.configuratorSettingUpdates') }}
                                </sw-description-list-term>
                                <sw-description-list-description>
                                    {{ mergeResult.stats.configuratorSettingUpdates }}
                                </sw-description-list-description>

                                <sw-description-list-term>
                                    {{ $tc('artissTools.propertyProcessing.stats.groupsToDelete') }}
                                </sw-description-list-term>
                                <sw-description-list-description>
                                    {{ mergeResult.stats.groupsToDelete }}
                                </sw-description-list-description>
                            </sw-description-list>
                        </div>
                    </sw-card>

                    <sw-modal
                        v-if="showConfirmModal"
                        :title="$tc('artissTools.propertyProcessing.confirm.title')"
                        variant="small"
                        @modal-close="showConfirmModal = false"
                    >
                        <p>{{ $tc('artissTools.propertyProcessing.confirm.message') }}</p>

                        <template #modal-footer>
                            <sw-button
                                variant="secondary"
                                @click="showConfirmModal = false"
                            >
                                {{ $tc('artissTools.propertyProcessing.buttons.cancel') }}
                            </sw-button>

                            <sw-button
                                variant="primary"
                                @click="confirmExecute"
                            >
                                {{ $tc('artissTools.propertyProcessing.buttons.execute') }}
                            </sw-button>
                        </template>
                    </sw-modal>
                </template>

                <template v-else-if="activeTab === 'split'">
                    {# Split tab #}
                    <sw-card
                        :title="$tc('artissTools.propertyProcessing.split.selectSourceGroup')"
                        :isLoading="isLoading"
                    >
                        <sw-single-select
                            v-model:value="selectedSourceGroupId"
                            :options="propertyGroups"
                            :label="$tc('artissTools.propertyProcessing.split.sourceGroup')"
                            :placeholder="$tc('artissTools.propertyProcessing.split.placeholders.selectGroup')"
                            valueProperty="id"
                            labelProperty="name"
                        />
                    </sw-card>

                    {# Options list #}
                    <sw-card
                        v-if="sourceGroupOptions.length > 0"
                        :title="$tc('artissTools.propertyProcessing.split.optionsList')"
                        :isLoading="isLoading"
                    >
                        <sw-checkbox-field
                            :value="isAllOptionsSelected"
                            @change="toggleAllOptions"
                            :label="$tc('artissTools.propertyProcessing.split.selectAll')"
                            class="sw-checkbox-select-all"
                        />

                        <div class="artiss-split-options">
                            <sw-checkbox-field
                                v-for="option in sourceGroupOptions"
                                :key="option.id"
                                :value="selectedOptionIds.includes(option.id)"
                                @change="(checked) => {
                                    if (checked) {
                                        selectedOptionIds.push(option.id);
                                    } else {
                                        const index = selectedOptionIds.indexOf(option.id);
                                        if (index > -1) selectedOptionIds.splice(index, 1);
                                    }
                                }"
                                :label="`${option.name} (${$tc('artissTools.propertyProcessing.split.productCount')}: ${option.productCount})`"
                            />
                        </div>

                        <div class="artiss-split-selected-count">
                            {{ $tc('artissTools.propertyProcessing.split.selectedCount') }}: <strong>{{ selectedOptionIds.length }}</strong>
                        </div>
                    </sw-card>

                    {# Target group selection #}
                    <sw-card
                        v-if="selectedOptionIds.length > 0"
                        :title="$tc('artissTools.propertyProcessing.split.selectTargetGroup')"
                        :isLoading="isLoading"
                    >
                        <sw-single-select
                            v-model:value="selectedTargetGroupId"
                            :options="availableTargetGroups"
                            :label="$tc('artissTools.propertyProcessing.split.targetGroup')"
                            :placeholder="$tc('artissTools.propertyProcessing.split.placeholders.selectTargetGroup')"
                            valueProperty="id"
                            labelProperty="name"
                        />
                    </sw-card>

                    {# Actions #}
                    <sw-card
                        v-if="canExecuteSplit"
                        :title="$tc('artissTools.propertyProcessing.sections.actions')"
                        :isLoading="isLoading"
                    >
                        <sw-button
                            variant="primary"
                            :disabled="isLoading"
                            @click="previewSplit"
                        >
                            {{ $tc('artissTools.propertyProcessing.split.buttons.preview') }}
                        </sw-button>

                        <sw-button
                            variant="danger"
                            :disabled="isLoading"
                            @click="executeSplit"
                        >
                            {{ $tc('artissTools.propertyProcessing.split.buttons.split') }}
                        </sw-button>
                    </sw-card>

                    {# Preview/Result #}
                    <sw-card
                        v-if="splitResult"
                        :title="$tc('artissTools.propertyProcessing.split.result.title')"
                    >
                        <div class="artiss-split-result">
                            <h3>{{ $tc('artissTools.propertyProcessing.split.result.sourceGroup') }}</h3>
                            <sw-description-list>
                                <sw-description-list-term>
                                    {{ $tc('artissTools.propertyProcessing.split.result.groupName') }}
                                </sw-description-list-term>
                                <sw-description-list-description>
                                    {{ splitResult.sourceGroup.name }}
                                </sw-description-list-description>

                                <sw-description-list-term>
                                    {{ $tc('artissTools.propertyProcessing.split.result.totalOptions') }}
                                </sw-description-list-term>
                                <sw-description-list-description>
                                    {{ splitResult.sourceGroup.totalOptions }}
                                </sw-description-list-description>

                                <sw-description-list-term>
                                    {{ $tc('artissTools.propertyProcessing.split.result.remainingOptions') }}
                                </sw-description-list-term>
                                <sw-description-list-description>
                                    {{ splitResult.sourceGroup.remainingOptions }}
                                </sw-description-list-description>
                            </sw-description-list>

                            <h3>{{ $tc('artissTools.propertyProcessing.split.result.targetGroup') }}</h3>
                            <sw-description-list>
                                <sw-description-list-term>
                                    {{ $tc('artissTools.propertyProcessing.split.result.groupName') }}
                                </sw-description-list-term>
                                <sw-description-list-description>
                                    {{ splitResult.targetGroup.name }}
                                </sw-description-list-description>

                                <sw-description-list-term>
                                    {{ $tc('artissTools.propertyProcessing.split.result.currentOptions') }}
                                </sw-description-list-term>
                                <sw-description-list-description>
                                    {{ splitResult.targetGroup.currentOptions }}
                                </sw-description-list-description>

                                <sw-description-list-term>
                                    {{ $tc('artissTools.propertyProcessing.split.result.optionsToMove') }}
                                </sw-description-list-term>
                                <sw-description-list-description>
                                    {{ splitResult.targetGroup.optionsToMove }}
                                </sw-description-list-description>

                                <sw-description-list-term>
                                    {{ $tc('artissTools.propertyProcessing.split.result.totalAfterMove') }}
                                </sw-description-list-term>
                                <sw-description-list-description>
                                    <strong>{{ splitResult.targetGroup.totalAfterMove }}</strong>
                                </sw-description-list-description>
                            </sw-description-list>

                            <h3>{{ $tc('artissTools.propertyProcessing.split.result.affectedEntitiesTitle') }}</h3>
                            <sw-description-list>
                                <sw-description-list-term>
                                    {{ $tc('artissTools.propertyProcessing.split.result.affectedProducts') }}
                                </sw-description-list-term>
                                <sw-description-list-description>
                                    {{ splitResult.affectedEntities.totalProducts }}
                                </sw-description-list-description>

                                <sw-description-list-term>
                                    {{ $tc('artissTools.propertyProcessing.split.result.affectedVariants') }}
                                </sw-description-list-term>
                                <sw-description-list-description>
                                    {{ splitResult.affectedEntities.totalVariants }}
                                </sw-description-list-description>

                                <sw-description-list-term>
                                    {{ $tc('artissTools.propertyProcessing.split.result.totalAffected') }}
                                </sw-description-list-term>
                                <sw-description-list-description>
                                    <strong>{{ splitResult.affectedEntities.total }}</strong>
                                </sw-description-list-description>
                            </sw-description-list>

                            <div v-if="splitResult.success" class="artiss-split-success">
                                <sw-alert variant="success">
                                    {{ $tc('artissTools.propertyProcessing.split.result.successMessage') }}
                                </sw-alert>
                            </div>
                        </div>
                    </sw-card>

                    {# Confirmation modal #}
                    <sw-modal
                        v-if="showSplitConfirmModal"
                        :title="$tc('artissTools.propertyProcessing.split.confirm.title')"
                        variant="small"
                        @modal-close="showSplitConfirmModal = false"
                    >
                        <p>{{ $tc('artissTools.propertyProcessing.split.confirm.message') }}</p>
                        <p>
                            <strong>{{ $tc('artissTools.propertyProcessing.split.confirm.optionsToMove') }}:</strong> {{ selectedOptionIds.length }}
                        </p>

                        <template #modal-footer>
                            <sw-button
                                variant="secondary"
                                @click="showSplitConfirmModal = false"
                            >
                                {{ $tc('artissTools.propertyProcessing.buttons.cancel') }}
                            </sw-button>

                            <sw-button
                                variant="primary"
                                @click="confirmSplit"
                            >
                                {{ $tc('artissTools.propertyProcessing.split.buttons.confirmSplit') }}
                            </sw-button>
                        </template>
                    </sw-modal>
                </template>

                <template v-else-if="activeTab === 'transfer'">
                    {# Transfer tab #}
                    <sw-card :title="$tc('artissTools.propertyProcessing.transfer.title')">
                        <sw-select-field
                            v-model="transferMode"
                            :label="$tc('artissTools.propertyProcessing.transfer.mode.label')"
                            :options="[
                                { value: 'property_to_custom_field', label: $tc('artissTools.propertyProcessing.transfer.modes.propertyToCustomField') },
                                { value: 'property_to_property', label: $tc('artissTools.propertyProcessing.transfer.modes.propertyToProperty') },
                                { value: 'custom_field_to_property', label: $tc('artissTools.propertyProcessing.transfer.modes.customFieldToProperty') },
                                { value: 'custom_field_to_custom_field', label: $tc('artissTools.propertyProcessing.transfer.modes.customFieldToCustomField') }
                            ]"
                        />
                    </sw-card>

                    {# Mode 1: Property → Custom field #}
                    <template v-if="transferMode === 'property_to_custom_field'">
                        <sw-card :title="$tc('artissTools.propertyProcessing.transfer.source')">
                            <sw-single-select
                                v-model:value="transferPropertyGroupId"
                                :options="propertyGroups"
                                :label="$tc('artissTools.propertyProcessing.transfer.propertyGroup')"
                                valueProperty="id"
                                labelProperty="name"
                            />

                            <div v-if="transferPropertyOptions.length > 0" class="transfer-options-list">
                                <sw-checkbox-field
                                    :value="transferSelectedOptions.length === transferPropertyOptions.length"
                                    @change="toggleAllTransferOptions"
                                    :label="$tc('artissTools.propertyProcessing.split.selectAll')"
                                />
                                <sw-checkbox-field
                                    v-for="option in transferPropertyOptions"
                                    :key="option.id"
                                    :value="transferSelectedOptions.includes(option.id)"
                                    @change="(checked) => {
                                        if (checked) {
                                            transferSelectedOptions.push(option.id);
                                        } else {
                                            const idx = transferSelectedOptions.indexOf(option.id);
                                            if (idx > -1) transferSelectedOptions.splice(idx, 1);
                                        }
                                    }"
                                    :label="option.name"
                                />
                            </div>
                        </sw-card>

                        <sw-card :title="$tc('artissTools.propertyProcessing.transfer.target')">
                            <sw-single-select
                                v-model:value="transferTargetSetId"
                                :options="customFieldSets"
                                :label="$tc('artissTools.propertyProcessing.transfer.customFieldSet')"
                                valueProperty="id"
                                labelProperty="name"
                            />

                            <sw-single-select
                                v-if="transferTargetFields.length > 0"
                                v-model:value="transferTargetFieldName"
                                :options="transferTargetFields"
                                :label="$tc('artissTools.propertyProcessing.transfer.customField')"
                                valueProperty="name"
                                labelProperty="label"
                            />
                        </sw-card>
                    </template>

                    {# Mode 2: Property → Property #}
                    <template v-if="transferMode === 'property_to_property'">
                        <sw-card :title="$tc('artissTools.propertyProcessing.transfer.source')">
                            <sw-single-select
                                v-model:value="transferSourceGroupId"
                                :options="propertyGroups"
                                :label="$tc('artissTools.propertyProcessing.transfer.sourcePropertyGroup')"
                                valueProperty="id"
                                labelProperty="name"
                            />

                            <div v-if="transferSourceOptions.length > 0" class="transfer-options-list">
                                <sw-checkbox-field
                                    :value="transferSourceSelectedOptions.length === transferSourceOptions.length"
                                    @change="toggleAllTransferOptions"
                                    :label="$tc('artissTools.propertyProcessing.split.selectAll')"
                                />
                                <sw-checkbox-field
                                    v-for="option in transferSourceOptions"
                                    :key="option.id"
                                    :value="transferSourceSelectedOptions.includes(option.id)"
                                    @change="(checked) => {
                                        if (checked) {
                                            transferSourceSelectedOptions.push(option.id);
                                        } else {
                                            const idx = transferSourceSelectedOptions.indexOf(option.id);
                                            if (idx > -1) transferSourceSelectedOptions.splice(idx, 1);
                                        }
                                    }"
                                    :label="option.name"
                                />
                            </div>
                        </sw-card>

                        <sw-card :title="$tc('artissTools.propertyProcessing.transfer.target')">
                            <sw-single-select
                                v-model:value="transferTargetGroupId"
                                :options="propertyGroups.filter(g => g.id !== transferSourceGroupId)"
                                :label="$tc('artissTools.propertyProcessing.transfer.targetPropertyGroup')"
                                valueProperty="id"
                                labelProperty="name"
                            />
                        </sw-card>
                    </template>

                    {# Mode 3: Custom field → Property #}
                    <template v-if="transferMode === 'custom_field_to_property'">
                        <sw-card :title="$tc('artissTools.propertyProcessing.transfer.source')">
                            <sw-single-select
                                v-model:value="transferCFSourceSetId"
                                :options="customFieldSets"
                                :label="$tc('artissTools.propertyProcessing.transfer.customFieldSet')"
                                valueProperty="id"
                                labelProperty="name"
                            />

                            <sw-single-select
                                v-if="transferCFSourceFields.length > 0"
                                v-model:value="transferCFSourceFieldName"
                                :options="transferCFSourceFields"
                                :label="$tc('artissTools.propertyProcessing.transfer.customField')"
                                valueProperty="name"
                                labelProperty="label"
                            />
                        </sw-card>

                        <sw-card :title="$tc('artissTools.propertyProcessing.transfer.target')">
                            <sw-single-select
                                v-model:value="transferCFTargetGroupId"
                                :options="propertyGroups"
                                :label="$tc('artissTools.propertyProcessing.transfer.propertyGroup')"
                                valueProperty="id"
                                labelProperty="name"
                            />
                        </sw-card>
                    </template>

                    {# Mode 4: Custom field → Custom field #}
                    <template v-if="transferMode === 'custom_field_to_custom_field'">
                        <sw-card :title="$tc('artissTools.propertyProcessing.transfer.source')">
                            <sw-single-select
                                v-model:value="transferCF2SourceSetId"
                                :options="customFieldSets"
                                :label="$tc('artissTools.propertyProcessing.transfer.sourceCustomFieldSet')"
                                valueProperty="id"
                                labelProperty="name"
                            />

                            <sw-single-select
                                v-if="transferCF2SourceFields.length > 0"
                                v-model:value="transferCF2SourceFieldName"
                                :options="transferCF2SourceFields"
                                :label="$tc('artissTools.propertyProcessing.transfer.sourceCustomField')"
                                valueProperty="name"
                                labelProperty="label"
                            />
                        </sw-card>

                        <sw-card :title="$tc('artissTools.propertyProcessing.transfer.target')">
                            <sw-single-select
                                v-model:value="transferCF2TargetSetId"
                                :options="customFieldSets.filter(s => s.id !== transferCF2SourceSetId)"
                                :label="$tc('artissTools.propertyProcessing.transfer.targetCustomFieldSet')"
                                valueProperty="id"
                                labelProperty="name"
                            />

                            <sw-single-select
                                v-if="transferCF2TargetFields.length > 0"
                                v-model:value="transferCF2TargetFieldName"
                                :options="transferCF2TargetFields"
                                :label="$tc('artissTools.propertyProcessing.transfer.targetCustomField')"
                                valueProperty="name"
                                labelProperty="label"
                            />
                        </sw-card>
                    </template>

                    {# Common options #}
                    <sw-card :title="$tc('artissTools.propertyProcessing.transfer.options')">
                        <sw-switch-field
                            v-model="transferMove"
                            :label="$tc('artissTools.propertyProcessing.transfer.moveOption')"
                        />
                        <sw-switch-field
                            v-model="transferDeleteEmpty"
                            :label="$tc('artissTools.propertyProcessing.transfer.deleteEmptyOption')"
                        />
                    </sw-card>

                    {# Actions #}
                    <sw-card :title="$tc('artissTools.propertyProcessing.sections.actions')">
                        <sw-button
                            variant="primary"
                            @click="previewTransfer"
                            :disabled="isLoading"
                        >
                            {{ $tc('artissTools.propertyProcessing.transfer.buttons.preview') }}
                        </sw-button>

                        <sw-button
                            variant="danger"
                            @click="executeTransfer"
                            :disabled="isLoading"
                        >
                            {{ $tc('artissTools.propertyProcessing.transfer.buttons.execute') }}
                        </sw-button>
                    </sw-card>

                    {# Results #}
                    <sw-card
                        v-if="transferResult"
                        :title="$tc('artissTools.propertyProcessing.sections.result')"
                    >
                        <div class="transfer-result">
                            <sw-description-list>
                                <sw-description-list-term>
                                    {{ $tc('artissTools.propertyProcessing.transfer.result.affectedProducts') }}
                                </sw-description-list-term>
                                <sw-description-list-description>
                                    {{ transferResult.stats.affectedProducts || 0 }}
                                </sw-description-list-description>

                                <template v-if="transferResult.stats.valuesRead !== undefined">
                                    <sw-description-list-term>
                                        {{ $tc('artissTools.propertyProcessing.transfer.result.valuesRead') }}
                                    </sw-description-list-term>
                                    <sw-description-list-description>
                                        {{ transferResult.stats.valuesRead }}
                                    </sw-description-list-description>
                                </template>

                                <template v-if="transferResult.stats.optionsCreated !== undefined">
                                    <sw-description-list-term>
                                        {{ $tc('artissTools.propertyProcessing.transfer.result.optionsCreated') }}
                                    </sw-description-list-term>
                                    <sw-description-list-description>
                                        {{ transferResult.stats.optionsCreated }}
                                    </sw-description-list-description>
                                </template>
                            </sw-description-list>
                        </div>
                    </sw-card>

                    {# Confirmation modal #}
                    <sw-modal
                        v-if="showTransferConfirm"
                        :title="$tc('artissTools.propertyProcessing.transfer.confirm.title')"
                        @modal-close="showTransferConfirm = false"
                    >
                        <p>{{ $tc('artissTools.propertyProcessing.transfer.confirm.message') }}</p>

                        <template #modal-footer>
                            <sw-button
                                variant="secondary"
                                @click="showTransferConfirm = false"
                            >
                                {{ $tc('artissTools.propertyProcessing.buttons.cancel') }}
                            </sw-button>
                            <sw-button
                                variant="primary"
                                @click="confirmTransfer"
                            >
                                {{ $tc('artissTools.propertyProcessing.transfer.buttons.confirmExecute') }}
                            </sw-button>
                        </template>
                    </sw-modal>
                </template>

                <template v-else>
                    {# Cleanup tab #}
                    <sw-card
                        :title="$tc('artissTools.propertyProcessing.cleanup.scanSettings')"
                        :isLoading="isLoading"
                    >
                        <sw-switch-field
                            v-model="includeCustomFields"
                            :label="$tc('artissTools.propertyProcessing.cleanup.includeCustomFields')"
                        />

                        <sw-switch-field
                            v-model="deleteEmptyGroups"
                            :label="$tc('artissTools.propertyProcessing.cleanup.deleteEmptyGroups')"
                        />

                        <sw-button
                            variant="primary"
                            :disabled="isLoading"
                            @click="scanUnused"
                        >
                            {{ $tc('artissTools.propertyProcessing.cleanup.buttons.scan') }}
                        </sw-button>
                    </sw-card>

                    {# Results: Property Groups #}
                    <template v-if="cleanupResult && cleanupResult.unusedPropertyOptions.length > 0">
                        <sw-card
                            :title="$tc('artissTools.propertyProcessing.cleanup.propertyGroupsTitle')"
                        >
                            <template v-for="group in cleanupResult.unusedPropertyOptions">
                                <div :key="group.groupId" class="artiss-cleanup-group">
                                    <h4>
                                        {{ group.groupName }}
                                        <small>({{ group.groupId }})</small>
                                    </h4>

                                    <sw-checkbox-field
                                        :value="isGroupFullySelected(group.groupId)"
                                        @change="(checked) => toggleAllGroupOptions(group.groupId, checked)"
                                        :label="$tc('artissTools.propertyProcessing.cleanup.selectAll')"
                                        class="sw-checkbox-select-all"
                                    />

                                    <div class="artiss-cleanup-options">
                                        <sw-checkbox-field
                                            v-for="option in group.unusedOptions"
                                            :key="option.optionId"
                                            v-model="selectedPropertyOptions[option.optionId]"
                                            :label="option.optionName"
                                        />
                                    </div>
                                </div>
                            </template>
                        </sw-card>
                    </template>

                    {# Results: Custom Fields #}
                    <template v-if="cleanupResult && cleanupResult.unusedCustomFields.length > 0">
                        <sw-card
                            :title="$tc('artissTools.propertyProcessing.cleanup.customFieldsTitle')"
                        >
                            <template v-for="set in cleanupResult.unusedCustomFields">
                                <div :key="set.setId" class="artiss-cleanup-group">
                                    <h4>
                                        {{ set.setName }}
                                        <small>({{ set.setId }})</small>
                                        <span v-if="set.relations && set.relations.length > 0" class="relations">
                                            [{{ set.relations.join(', ') }}]
                                        </span>
                                        <span v-if="set.isEmpty" class="empty-badge">
                                            {{ $tc('artissTools.propertyProcessing.cleanup.emptySet') }}
                                        </span>
                                    </h4>

                                    <sw-checkbox-field
                                        v-if="set.unusedFields && set.unusedFields.length > 0"
                                        :value="isSetFullySelected(set.setId)"
                                        @change="(checked) => toggleAllSetFields(set.setId, checked)"
                                        :label="$tc('artissTools.propertyProcessing.cleanup.selectAll')"
                                        class="sw-checkbox-select-all"
                                    />

                                    <div v-if="set.unusedFields && set.unusedFields.length > 0" class="artiss-cleanup-options">
                                        <sw-checkbox-field
                                            v-for="field in set.unusedFields"
                                            :key="field.fieldId"
                                            v-model="selectedCustomFields[field.fieldId]"
                                            :label="`${field.fieldLabel} (${field.fieldName})`"
                                        />
                                    </div>

                                    <sw-checkbox-field
                                        v-if="set.isEmpty"
                                        :value="selectedCustomFieldSets.includes(set.setId)"
                                        @change="(checked) => {
                                            if (checked) {
                                                selectedCustomFieldSets.push(set.setId);
                                            } else {
                                                const index = selectedCustomFieldSets.indexOf(set.setId);
                                                if (index > -1) selectedCustomFieldSets.splice(index, 1);
                                            }
                                        }"
                                        :label="$tc('artissTools.propertyProcessing.cleanup.deleteSet')"
                                        class="sw-checkbox-delete-set"
                                    />
                                </div>
                            </template>
                        </sw-card>
                    </template>

                    {# No results message #}
                    <sw-card v-if="cleanupResult && cleanupResult.unusedPropertyOptions.length === 0 && cleanupResult.unusedCustomFields.length === 0">
                        <sw-alert variant="success">
                            {{ $tc('artissTools.propertyProcessing.cleanup.messages.noUnused') }}
                        </sw-alert>
                    </sw-card>

                    {# Statistics #}
                    <sw-card
                        v-if="cleanupResult && cleanupResult.stats"
                        :title="$tc('artissTools.propertyProcessing.cleanup.statistics')"
                    >
                        <sw-description-list>
                            <sw-description-list-term>
                                {{ $tc('artissTools.propertyProcessing.cleanup.stats.totalUnusedOptions') }}
                            </sw-description-list-term>
                            <sw-description-list-description>
                                {{ cleanupResult.stats.totalUnusedPropertyOptions }}
                            </sw-description-list-description>

                            <sw-description-list-term>
                                {{ $tc('artissTools.propertyProcessing.cleanup.stats.totalPropertyGroups') }}
                            </sw-description-list-term>
                            <sw-description-list-description>
                                {{ cleanupResult.stats.totalPropertyGroups }}
                            </sw-description-list-description>

                            <template v-if="includeCustomFields">
                                <sw-description-list-term>
                                    {{ $tc('artissTools.propertyProcessing.cleanup.stats.totalUnusedFields') }}
                                </sw-description-list-term>
                                <sw-description-list-description>
                                    {{ cleanupResult.stats.totalUnusedCustomFields }}
                                </sw-description-list-description>

                                <sw-description-list-term>
                                    {{ $tc('artissTools.propertyProcessing.cleanup.stats.totalCustomFieldSets') }}
                                </sw-description-list-term>
                                <sw-description-list-description>
                                    {{ cleanupResult.stats.totalCustomFieldSets }}
                                </sw-description-list-description>

                                <sw-description-list-term>
                                    {{ $tc('artissTools.propertyProcessing.cleanup.stats.totalEmptySets') }}
                                </sw-description-list-term>
                                <sw-description-list-description>
                                    {{ cleanupResult.stats.totalEmptySets }}
                                </sw-description-list-description>
                            </template>

                            <sw-description-list-term>
                                {{ $tc('artissTools.propertyProcessing.cleanup.stats.selectedForDeletion') }}
                            </sw-description-list-term>
                            <sw-description-list-description>
                                <strong>{{ getSelectedCount() }}</strong>
                            </sw-description-list-description>
                        </sw-description-list>
                    </sw-card>

                    {# Action buttons #}
                    <sw-card
                        v-if="cleanupResult"
                        :title="$tc('artissTools.propertyProcessing.sections.actions')"
                    >
                        <sw-button
                            variant="danger"
                            :disabled="isLoading || getSelectedCount() === 0"
                            @click="openCleanupConfirmModal"
                        >
                            {{ $tc('artissTools.propertyProcessing.cleanup.buttons.deleteSelected') }}
                        </sw-button>

                        <sw-button
                            variant="secondary"
                            :disabled="isLoading"
                            @click="resetCleanupForm"
                        >
                            {{ $tc('artissTools.propertyProcessing.cleanup.buttons.reset') }}
                        </sw-button>
                    </sw-card>

                    {# Cleanup confirmation modal #}
                    <sw-modal
                        v-if="showCleanupConfirmModal"
                        :title="$tc('artissTools.propertyProcessing.cleanup.confirm.title')"
                        variant="small"
                        @modal-close="showCleanupConfirmModal = false"
                    >
                        <p>{{ $tc('artissTools.propertyProcessing.cleanup.confirm.message', getSelectedCount()) }}</p>

                        <template #modal-footer>
                            <sw-button
                                variant="secondary"
                                @click="showCleanupConfirmModal = false"
                            >
                                {{ $tc('artissTools.propertyProcessing.buttons.cancel') }}
                            </sw-button>

                            <sw-button
                                variant="danger"
                                @click="confirmCleanup"
                            >
                                {{ $tc('artissTools.propertyProcessing.cleanup.buttons.confirmDelete') }}
                            </sw-button>
                        </template>
                    </sw-modal>
                </template>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
