{# Split Tab Content #}
<sw-card
    :title="$tc('artissTools.propertyProcessing.split.selectSourceGroup')"
    :isLoading="isLoading"
>
    <sw-single-select
        v-model:value="selectedSourceGroupId"
        :options="propertyGroups"
        :label="$tc('artissTools.propertyProcessing.split.sourceGroup')"
        :placeholder="$tc('artissTools.propertyProcessing.split.placeholders.selectGroup')"
        valueProperty="id"
        labelProperty="name"
    />
</sw-card>

{# Options list #}
<sw-card
    v-if="sourceGroupOptions.length > 0"
    :title="$tc('artissTools.propertyProcessing.split.optionsList')"
    :isLoading="isLoading"
>
    <sw-checkbox-field
        :value="isAllOptionsSelected"
        @change="toggleAllOptions"
        :label="$tc('artissTools.propertyProcessing.split.selectAll')"
        class="sw-checkbox-select-all"
    />

    <div class="artiss-split-options">
        <sw-checkbox-field
            v-for="option in sourceGroupOptions"
            :key="option.id"
            :value="selectedOptionIds.includes(option.id)"
            @change="(checked) => {
                if (checked) {
                    selectedOptionIds.push(option.id);
                } else {
                    const index = selectedOptionIds.indexOf(option.id);
                    if (index > -1) selectedOptionIds.splice(index, 1);
                }
            }"
            :label="`${option.name} (${$tc('artissTools.propertyProcessing.split.productCount')}: ${option.productCount})`"
        />
    </div>

    <div class="artiss-split-selected-count">
        {{ $tc('artissTools.propertyProcessing.split.selectedCount') }}: <strong>{{ selectedOptionIds.length }}</strong>
    </div>
</sw-card>

{# Target group selection #}
<sw-card
    v-if="selectedOptionIds.length > 0"
    :title="$tc('artissTools.propertyProcessing.split.selectTargetGroup')"
    :isLoading="isLoading"
>
    <sw-single-select
        v-model:value="selectedTargetGroupId"
        :options="availableTargetGroups"
        :label="$tc('artissTools.propertyProcessing.split.targetGroup')"
        :placeholder="$tc('artissTools.propertyProcessing.split.placeholders.selectTargetGroup')"
        valueProperty="id"
        labelProperty="name"
    />
</sw-card>

{# Actions #}
<sw-card
    v-if="canExecuteSplit"
    :title="$tc('artissTools.propertyProcessing.sections.actions')"
    :isLoading="isLoading"
>
    <sw-button
        variant="primary"
        :disabled="isLoading"
        @click="previewSplit"
    >
        {{ $tc('artissTools.propertyProcessing.buttons.preview') }}
    </sw-button>

    <sw-button
        variant="danger"
        :disabled="isLoading"
        @click="executeSplit"
    >
        {{ $tc('artissTools.propertyProcessing.split.buttons.split') }}
    </sw-button>
</sw-card>

{# Preview/Result #}
<sw-card
    v-if="splitResult"
    :title="$tc('artissTools.propertyProcessing.split.result.title')"
>
    <div v-if="!splitResult.success" class="artiss-property-processing-index__dry-run-notice">
        <sw-alert variant="info">
            {{ $tc('artissTools.propertyProcessing.messages.dryRunMode') }}
        </sw-alert>
    </div>

    <table class="sw-data-grid__table sw-table artiss-result-table">
        <tbody>
            <tr class="sw-data-grid__row sw-table__row artiss-result-table__section-header">
                <td colspan="2" class="sw-data-grid__cell sw-table__cell">
                    <strong>{{ $tc('artissTools.propertyProcessing.split.result.sourceGroup') }}</strong>
                </td>
            </tr>
            <tr class="sw-data-grid__row sw-table__row">
                <td class="sw-data-grid__cell sw-table__cell artiss-result-table__label">
                    {{ $tc('artissTools.propertyProcessing.split.result.groupName') }}
                </td>
                <td class="sw-data-grid__cell sw-table__cell">
                    {{ splitResult.sourceGroup.name }}
                </td>
            </tr>
            <tr class="sw-data-grid__row sw-table__row">
                <td class="sw-data-grid__cell sw-table__cell artiss-result-table__label">
                    {{ $tc('artissTools.propertyProcessing.split.result.totalOptions') }}
                </td>
                <td class="sw-data-grid__cell sw-table__cell">
                    {{ splitResult.sourceGroup.totalOptions }}
                </td>
            </tr>
            <tr class="sw-data-grid__row sw-table__row">
                <td class="sw-data-grid__cell sw-table__cell artiss-result-table__label">
                    {{ $tc('artissTools.propertyProcessing.split.result.remainingOptions') }}
                </td>
                <td class="sw-data-grid__cell sw-table__cell">
                    {{ splitResult.sourceGroup.remainingOptions }}
                </td>
            </tr>

            <tr class="sw-data-grid__row sw-table__row artiss-result-table__section-header">
                <td colspan="2" class="sw-data-grid__cell sw-table__cell">
                    <strong>{{ $tc('artissTools.propertyProcessing.split.result.targetGroup') }}</strong>
                </td>
            </tr>
            <tr class="sw-data-grid__row sw-table__row">
                <td class="sw-data-grid__cell sw-table__cell artiss-result-table__label">
                    {{ $tc('artissTools.propertyProcessing.split.result.groupName') }}
                </td>
                <td class="sw-data-grid__cell sw-table__cell">
                    {{ splitResult.targetGroup.name }}
                </td>
            </tr>
            <tr class="sw-data-grid__row sw-table__row">
                <td class="sw-data-grid__cell sw-table__cell artiss-result-table__label">
                    {{ $tc('artissTools.propertyProcessing.split.result.currentOptions') }}
                </td>
                <td class="sw-data-grid__cell sw-table__cell">
                    {{ splitResult.targetGroup.currentOptions }}
                </td>
            </tr>
            <tr class="sw-data-grid__row sw-table__row">
                <td class="sw-data-grid__cell sw-table__cell artiss-result-table__label">
                    {{ $tc('artissTools.propertyProcessing.split.result.optionsToMove') }}
                </td>
                <td class="sw-data-grid__cell sw-table__cell">
                    {{ splitResult.targetGroup.optionsToMove }}
                </td>
            </tr>
            <tr class="sw-data-grid__row sw-table__row">
                <td class="sw-data-grid__cell sw-table__cell artiss-result-table__label">
                    {{ $tc('artissTools.propertyProcessing.split.result.totalAfterMove') }}
                </td>
                <td class="sw-data-grid__cell sw-table__cell">
                    <strong>{{ splitResult.targetGroup.totalAfterMove }}</strong>
                </td>
            </tr>

            <tr class="sw-data-grid__row sw-table__row artiss-result-table__section-header">
                <td colspan="2" class="sw-data-grid__cell sw-table__cell">
                    <strong>{{ $tc('artissTools.propertyProcessing.split.result.affectedEntitiesTitle') }}</strong>
                </td>
            </tr>
            <tr class="sw-data-grid__row sw-table__row">
                <td class="sw-data-grid__cell sw-table__cell artiss-result-table__label">
                    {{ $tc('artissTools.propertyProcessing.productsModal.totalProducts') }}
                </td>
                <td class="sw-data-grid__cell sw-table__cell">
                    <a
                        v-if="splitResult.affectedEntities.productIds && splitResult.affectedEntities.productIds.length > 0"
                        href="#"
                        @click.prevent="showProductsModal = true"
                        class="artiss-products-link"
                    >
                        {{ splitResult.affectedEntities.totalProducts }}
                    </a>
                    <span v-else>{{ splitResult.affectedEntities.totalProducts }}</span>
                </td>
            </tr>
            <template v-if="splitResult.affectedEntities.totalVariants > 0">
                <tr class="sw-data-grid__row sw-table__row">
                    <td class="sw-data-grid__cell sw-table__cell artiss-result-table__label">
                        {{ $tc('artissTools.propertyProcessing.split.result.affectedVariants') }}
                    </td>
                    <td class="sw-data-grid__cell sw-table__cell">
                        {{ splitResult.affectedEntities.totalVariants }}
                    </td>
                </tr>
            </template>
            <tr class="sw-data-grid__row sw-table__row">
                <td class="sw-data-grid__cell sw-table__cell artiss-result-table__label">
                    {{ $tc('artissTools.propertyProcessing.split.result.totalAffected') }}
                </td>
                <td class="sw-data-grid__cell sw-table__cell">
                    <strong>{{ splitResult.affectedEntities.total }}</strong>
                </td>
            </tr>
        </tbody>
    </table>

    <div v-if="splitResult.success" class="artiss-split-success">
        <sw-alert variant="success">
            {{ $tc('artissTools.propertyProcessing.split.result.successMessage') }}
        </sw-alert>
    </div>
</sw-card>

{# Products Preview Modal #}
<artiss-products-preview-modal
    v-if="showProductsModal && splitResult && splitResult.affectedEntities && splitResult.affectedEntities.productIds"
    :productIds="splitResult.affectedEntities.productIds"
    :httpClient="httpClient"
    :getAuthHeaders="getAuthHeaders"
    @close="showProductsModal = false"
/>

{# Confirmation modal #}
<sw-modal
    v-if="showSplitConfirmModal"
    :title="$tc('artissTools.propertyProcessing.split.confirm.title')"
    variant="small"
    @modal-close="showSplitConfirmModal = false"
>
    <p>{{ $tc('artissTools.propertyProcessing.split.confirm.message') }}</p>
    <p>
        <strong>{{ $tc('artissTools.propertyProcessing.split.confirm.optionsToMove') }}:</strong> {{ selectedOptionIds.length }}
    </p>

    <template #modal-footer>
        <sw-button
            variant="secondary"
            @click="showSplitConfirmModal = false"
        >
            {{ $tc('artissTools.propertyProcessing.buttons.cancel') }}
        </sw-button>

        <sw-button
            variant="primary"
            @click="confirmSplit"
        >
            {{ $tc('artissTools.propertyProcessing.split.buttons.confirmSplit') }}
        </sw-button>
    </template>
</sw-modal>

