{# Merge Tab Content #}
<sw-card
    :title="$tc('artissTools.propertyProcessing.sections.selection')"
    :isLoading="isLoading"
>
    <sw-single-select
        v-model:value="targetId"
        :options="propertyGroups"
        :label="$tc('artissTools.propertyProcessing.fields.targetGroup')"
        :placeholder="$tc('artissTools.propertyProcessing.placeholders.selectTarget')"
        valueProperty="id"
        labelProperty="name"
    />

    <sw-multi-select
        v-model:value="sourceIds"
        :options="availableSourceGroups"
        :label="$tc('artissTools.propertyProcessing.fields.sourceGroups')"
        :placeholder="$tc('artissTools.propertyProcessing.placeholders.selectSources')"
        valueProperty="id"
        labelProperty="name"
        class="sw-field--last"
    />
</sw-card>

<sw-card
    v-if="canExecute"
    :title="$tc('artissTools.propertyProcessing.sections.actions')"
    :isLoading="isLoading"
>
    <sw-button
        variant="primary"
        :disabled="isLoading"
        @click="executeDryRun"
    >
        {{ $tc('artissTools.propertyProcessing.buttons.preview') }}
    </sw-button>

    <sw-button
        variant="danger"
        :disabled="isLoading"
        @click="executeMerge"
    >
        {{ $tc('artissTools.propertyProcessing.buttons.execute') }}
    </sw-button>
</sw-card>

<sw-card
    v-if="mergeResult"
    :title="$tc('artissTools.propertyProcessing.sections.result')"
>
    <div v-if="dryRunMode" class="artiss-property-processing-index__dry-run-notice">
        <sw-alert variant="info">
            {{ $tc('artissTools.propertyProcessing.messages.dryRunMode') }}
        </sw-alert>
    </div>

    <table class="sw-data-grid__table sw-table artiss-result-table">
        <tbody>
            <tr class="sw-data-grid__row sw-table__row">
                <td class="sw-data-grid__cell sw-table__cell artiss-result-table__label">
                    {{ $tc('artissTools.propertyProcessing.result.target') }}
                </td>
                <td class="sw-data-grid__cell sw-table__cell">
                    <strong>{{ mergeResult.target.name }}</strong>
                    ({{ $tc('artissTools.propertyProcessing.result.currentItems') }}: {{ mergeResult.targetOptionsCount }})
                </td>
            </tr>

            <tr class="sw-data-grid__row sw-table__row">
                <td class="sw-data-grid__cell sw-table__cell artiss-result-table__label">
                    {{ $tc('artissTools.propertyProcessing.result.sources') }}
                </td>
                <td class="sw-data-grid__cell sw-table__cell">
                    <span v-for="(source, index) in mergeResult.sources" :key="source.id">
                        {{ source.name }} ({{ source.optionCount }})<span v-if="index < mergeResult.sources.length - 1">, </span>
                    </span>
                </td>
            </tr>

            <tr class="sw-data-grid__row sw-table__row">
                <td class="sw-data-grid__cell sw-table__cell artiss-result-table__label">
                    {{ $tc('artissTools.propertyProcessing.productsModal.totalProducts') }}
                </td>
                <td class="sw-data-grid__cell sw-table__cell">
                    <a
                        v-if="mergeResult.stats.affectedProductIds && mergeResult.stats.affectedProductIds.length > 0"
                        href="#"
                        @click.prevent="showProductsModal = true"
                        class="artiss-products-link"
                    >
                        {{ mergeResult.stats.affectedProductIds.length }}
                    </a>
                    <span v-else>0</span>
                </td>
            </tr>

            <tr class="sw-data-grid__row sw-table__row">
                <td class="sw-data-grid__cell sw-table__cell artiss-result-table__label">
                    {{ $tc('artissTools.propertyProcessing.stats.totalSourceItems') }}
                </td>
                <td class="sw-data-grid__cell sw-table__cell">
                    {{ mergeResult.stats.totalSourceOptions }}
                </td>
            </tr>

            <tr class="sw-data-grid__row sw-table__row">
                <td class="sw-data-grid__cell sw-table__cell artiss-result-table__label">
                    {{ $tc('artissTools.propertyProcessing.stats.itemsToMerge') }}
                </td>
                <td class="sw-data-grid__cell sw-table__cell">
                    {{ mergeResult.stats.optionsToMerge }}
                </td>
            </tr>

            <tr class="sw-data-grid__row sw-table__row">
                <td class="sw-data-grid__cell sw-table__cell artiss-result-table__label">
                    {{ $tc('artissTools.propertyProcessing.stats.itemsToMove') }}
                </td>
                <td class="sw-data-grid__cell sw-table__cell">
                    {{ mergeResult.stats.optionsToMove }}
                </td>
            </tr>

            <template v-if="mergeResult.stats.optionsToDelete > 0">
                <tr class="sw-data-grid__row sw-table__row">
                    <td class="sw-data-grid__cell sw-table__cell artiss-result-table__label">
                        {{ $tc('artissTools.propertyProcessing.stats.itemsToDelete') }}
                    </td>
                    <td class="sw-data-grid__cell sw-table__cell">
                        {{ mergeResult.stats.optionsToDelete }}
                    </td>
                </tr>
            </template>

            <template v-if="mergeResult.stats.productPropertyUpdates > 0">
                <tr class="sw-data-grid__row sw-table__row">
                    <td class="sw-data-grid__cell sw-table__cell artiss-result-table__label">
                        {{ $tc('artissTools.propertyProcessing.stats.productPropertyUpdates') }}
                    </td>
                    <td class="sw-data-grid__cell sw-table__cell">
                        {{ mergeResult.stats.productPropertyUpdates }}
                    </td>
                </tr>
            </template>

            <template v-if="mergeResult.stats.configuratorSettingUpdates > 0">
                <tr class="sw-data-grid__row sw-table__row">
                    <td class="sw-data-grid__cell sw-table__cell artiss-result-table__label">
                        {{ $tc('artissTools.propertyProcessing.stats.configuratorSettingUpdates') }}
                    </td>
                    <td class="sw-data-grid__cell sw-table__cell">
                        {{ mergeResult.stats.configuratorSettingUpdates }}
                    </td>
                </tr>
            </template>

            <template v-if="mergeResult.stats.groupsToDelete > 0">
                <tr class="sw-data-grid__row sw-table__row">
                    <td class="sw-data-grid__cell sw-table__cell artiss-result-table__label">
                        {{ $tc('artissTools.propertyProcessing.stats.groupsToDelete') }}
                    </td>
                    <td class="sw-data-grid__cell sw-table__cell">
                        {{ mergeResult.stats.groupsToDelete }}
                    </td>
                </tr>
            </template>
        </tbody>
    </table>
</sw-card>

{# Products Preview Modal #}
<artiss-products-preview-modal
    v-if="showProductsModal && mergeResult && mergeResult.stats && mergeResult.stats.affectedProductIds"
    :productIds="mergeResult.stats.affectedProductIds"
    :httpClient="httpClient"
    :getAuthHeaders="getAuthHeaders"
    @close="showProductsModal = false"
/>

<sw-modal
    v-if="showConfirmModal"
    :title="$tc('artissTools.propertyProcessing.confirm.title')"
    variant="small"
    @modal-close="showConfirmModal = false"
>
    <p>{{ $tc('artissTools.propertyProcessing.confirm.message') }}</p>

    <template #modal-footer>
        <sw-button
            variant="secondary"
            @click="showConfirmModal = false"
        >
            {{ $tc('artissTools.propertyProcessing.buttons.cancel') }}
        </sw-button>

        <sw-button
            variant="primary"
            @click="confirmExecute"
        >
            {{ $tc('artissTools.propertyProcessing.buttons.execute') }}
        </sw-button>
    </template>
</sw-modal>
